body {
    font-family: 'Expletus Sans', cursive;
    background-image: linear-gradient(-45deg, #d0f2e7 50%, #bcebdf 50%);
    margin: 0;
    padding: 0;
}

.text1 {
    text-align: center;
    margin-bottom: 26px;
    font-size: 30px;
    margin: 17px;
}

fieldset {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: #5c97d1;
}

.text2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.registro {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="float"],
select {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="float"]:focus,
select:focus {
    border-color: #aaa;
}


input[type="submit"] {
    cursor: pointer;
    background-color: #5c97d1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;

}

input[type="submit"]:hover {
    background-color: #4a7cb7;
}


.centrar-contenido {
    display: flex;
    justify-content: center;
    align-items: center;


}

.cuenta-existente {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}


.cuenta-existente a {
    color: #5c97d1;
    text-decoration: none;
    font-weight: bold;

}

.cuenta-existente a:hover {
    color: #4a7cb7;
}