/* Estilos base para el botón "Ver Más" */
.btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 12px 24px;
    color: #ffffff;
    background-color: #82bbb6;
    border: none;
    border-radius: 50px;
    justify-content: center;



}


.btn:hover {
    background-color: #2980b9;

    transform: scale(1.05);

}