.footer1 h4 {
    position: relative;
    left: 620px;
    font-size: 18px;
    margin-top: 5px;
}

.iconosRedes {
    margin-bottom: 10px;
    /*text-align: center;*/
    position: relative;
    left: 595px;
}

.iconosRedes a {
    padding-inline: 7px;
    font-size: 35px;


}