.menu {
    position: relative;
    /* Esto permitirá que los iconos se posicionen respecto a este contenedor */
    display: flex;
    justify-content: center;
    /* Centrará los elementos escritos */
    padding: 0px;
}

.contenedor-menu {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    width: 100%;
}

.items-principales,
.iconos-derecha {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-bottom: 40px;
}

.menu ul li {
    padding-inline: 25px;
}


.menu li a {
    color: black;
    display: block;
    padding: 10px;
    font-size: 20px;
}

.menu li a:hover {
    background-color: #7acfba;
    border-radius: 100px;
    animation: 0.4s infinite boton-menu;
}

@keyframes boton-menu {
    0% {
        transform: scaleX(1.0);
    }

    50% {
        transform: scaleX(1.15);
    }

    100% {
        transform: scaleX(1.0);
    }
}

.menu-btn {
    display: none;

}

.items-principales {
    display: flex;
    /* Establece los elementos de texto en línea */
    z-index: 1;
    /* Asegura que estos elementos estén encima de los íconos */
}

.items-principales li {
    padding-inline: 10px;
}

.iconos-derecha {
    position: absolute;

    right: 0;

    display: flex;
    z-index: 0;

}

.iconos-derecha li {
    margin-left: 18px;
    font-size: 20px;
}

/* Estilos para dispositivos */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
        /* Mostramos el botón de menú */
    }

    .items-principales,
    .iconos-derecha {
        flex-direction: column;
        /* Los elementos se mostrarán uno debajo del otro */
        align-items: center;
        /* Centramos los elementos */
        display: none;
        /* Los ocultamos por defecto */
    }

    .menu.active .items-principales,
    .menu.active .iconos-derecha {
        display: flex;
        /* Mostramos los elementos cuando el menú esté activo */
    }

    .items-principales li,
    .iconos-derecha li {
        margin-top: 5px;
        /* Añadimos un pequeño margen superior para separar los elementos */
        margin-bottom: 5px;
        /* Añadimos un pequeño margen inferior para separar los elementos */
    }

    .items-principales li a,
    .iconos-derecha li a {
        text-align: center;
        padding: 0.5rem;
        width: 100%;
    }
}