.menu {
    text-align: center;
    padding: 0px;
}

.menu ul{
    list-style: none;
    padding-bottom: 40px;
}

.menu ul li{
    display: inline-block;
    padding-inline: 4px;
}

.menu li a {
    color: black;
    display: block;
    padding: 10px;
    font-size: 20px;
}

.menu li a:hover {
    background-color: #7acfba;
    border-radius: 100px;
    animation: 0.4s infinite boton-menu;
}

@keyframes boton-menu {
    0% { transform: scaleX(1.0);}
    50% { transform: scaleX(1.15);}
    100% { transform: scaleX(1.0);}    
}