{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!--materialize css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--link de iconos-->
    <script src="https://kit.fontawesome.com/8700f71f17.js" crossorigin="anonymous"></script>
    

    <!--hoja de Estilos css-->
    <link rel="stylesheet" href="{% static './Css/style.css' %}">
    
    <link rel="icon" href="{% static './Media/icons/Logo-Footer.png' %}" type="image/x-icon">
    <title>DhermaPixel</title>
</head>




<body>

    <!--materialize js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--main js-->
    <script src="{% static './js/main.js' %}"></script>




    <header>
        <center> <img class="logos" src="{% static './Media/icons/Logo_sitio.png' %}"> </center>
    </header>



    <div class="menu">
        <ul class="items-principales">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'promociones' %}">Promociones</a></li>
            <li><a href="{% url 'tratamientos' %}">Tratamientos</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
        <ul class="iconos-derecha">
            <li>
                <a href="{% url 'inicioDeSesión' %}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'inicioDeSesión' %}"> <i class="fa-solid fa-user" style="color: #030303;"></i> </a>
            </li>
        </ul>

    </div>





    <main>

        <br><br>
        <!--Carrete de Imagenes-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static './Media/imagenes/Estetica1.jpeg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static './Media/imagenes/Estetica2.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static './Media/imagenes/Estetica3.jpeg' %}" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static './Media/imagenes/Estetica4.jpeg' %}" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static './Media/imagenes/Estetica5.png' %}" alt="Third slide">
                </div>
            </div>
        </div>
        <br><br>

        <!--bloque de promociones (2 imagenes de promoción)-->
        <center>
            <h2 class="text_">Promociones</h2>
        </center>

        <div class="contenedor-tratamientos">
            <div class="trat">
                <img src="{% static './Media/imagenes/acido-desc.jpg' %}" alt="" />

            </div>
            <div class="trat">
                <img src="{% static './Media/imagenes/capilar-desc.jpg' %}" alt="" />

            </div>
            <div class="trat">
                <img src="{% static './Media/imagenes/php-desc.jpg' %}" alt="" />

            </div>
        </div>

        <center>
            <button class="btn" onclick="location.href='{% url 'promociones' %}';">Ver Mas</button>
        </center>

        <br><br><br>

        <center>
            <h2 class="text_">Tratamientos</h2>
        </center>

        <div class="contenedor-tratamientos">
            <div class="trat">
                <img src="{% static './Media/imagenes/Dermapen.jpg' %}" alt="" />
            </div>
            <div class="trat">
                <img src="{% static './Media/imagenes/Mesoterapia-facial.jpg' %}" alt="" />
            </div>
            <div class="trat">
                <img src="{% static './Media/imagenes/criolipolisis.jpg' %}" alt="" />
            </div>
        </div>
        <center>
           <button class="btn" onclick="location.href='{% url 'tratamientos' %}';">Ver Mas</button>
        </center>


        <br><br>
    </main>

    <footer class="footer1">
        <center>
            <img class="logos" src="{% static './Media/icons/Logo-Footer.png' %}">
        </center>


        <div class="iconosRedes">

            <!--Icono de Facebook-->
            <a href="https://www.facebook.com/profile.php?id=61551860564345"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <!--Icono de Instagram-->
            <a href="https://instagram.com/dhermapixel_?igshid=MzMyNGUyNmU2YQ=="><i
                    class="fa-brands fa-instagram"></i></a>
            <!--Icono de Whatsapp-->
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <!--Icono de Whatsapp-->
            <a href="{% url 'crud' %}"><i class="fa-regular fa-calendar"></i></a>

        </div>


        <div>
            <h4> &#169; Copyright 2023 - Todos los derechos reservados - Grupo 9 </h4>
        </div>
    </footer>

</body>

</html>